.defaultLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.container {
    width: var(--width-container-defaultLayout);
    display: flex;
}

.content {
    flex: 1;
    min-height: 200px;
}
